@model PostCategoryViewModel

@{
    ViewData["Title"] = "Index";
}


<h1>Blog Posts <a asp-action="Create"><span class="glyphicon glyphicon-pencil black" aria-hidden="true"></span></a></h1>

<form asp-controller="Posts" asp-action="Index" method="get">
    <p class="large">

        Category: <select asp-for="PostCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        Author: <input type="text" name="SearchString">

        <input type="submit" value="Search" />
    </p>

   
      

</form>
<br/>

@foreach (var item in Model.Posts)
{

    <ul class="list-group">
        <li class="list-group-item first"><a asp-action="Details" asp-route-id="@item.ID"><h4>@item.Title</h4></a></li>
        <li class="list-group-item"><p>@item.Date</p></li>
        <li class="list-group-item"><p class="h-divider"></p>
        </li>
        <li class="list-group-item"><p>@item.Category</p></li>
        <li class="list-group-item">
            <p class="h-divider"></p>
        </li>
        @if (@item.Body.Length < 200)
        { 
        <li class="list-group-item"><p>@item.Body</p></li>
        }
        else
        {
        <li class="list-group-item"><p>@item.Body.Substring(0, 200)</p></li>
        <li class="list-group-item"><a asp-action="Details" asp-route-id="@item.ID">Read more...</a></li>
        }
       
        
        <li class="list-group-item"><p>Post by: @item.Author</p></li>
    </ul>
    <tbody>
        <tr>
            <td>
                
                <a asp-action="Edit" asp-route-id="@item.ID"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> |
                
                <a asp-action="Details" asp-route-id="@item.ID"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a> |
               
                <a asp-action="Delete" asp-route-id="@item.ID"><span class="glyphicon glyphicon-trash" aria-hidden="true"></a>
            </td>
        </tr>
    </tbody>
    
    
    <br />
    <br/>
    <br />


}

<br/>
<br/>
